[user]
  name = Dylan Foster
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
[github]
  user = dylanfoster
[alias]
  purr = !"git pull ––rebase"
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  ready = !"git rebase -i @{u}"
  standup = !git-standup
  st = !"git status -sb"
  fc = !"git diff-tree --no-commit-id --name-only -r"
[push]
  default = simple
